*.class
**/.metadata
**/.settings
**/.recommenders
**/bin/
*.jar
*.txt
**/.gradle
*.zip
.DS_Store
dasUberEnduroApplicationen/registration/
dasUberEnduroApplicationen/resultMerge/
.Rhistory
**/.Rhistory
*.swp
